form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}
